.head {
    color: #333;
    text-align: center;
    background-color: #f5f5f5;
    padding-bottom: 1%;
    margin-top: 5.5%;
    background-image: url(success.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    
}

#home p {
    margin-top: 2%;
    font-family: cursive, "times new roman", serif, sans-serif;
    font-size: 250px;
    
}

#home ul {
    list-style-type: none;
}

#home a {
    font-size: 18px;
    color: 	#333;
    font-family: cursive, sans-serif, "times new roman";
    
    
}

#home .dropdown-menu a {
    color: #333;
    font-family: "times new roman", serif, cursive;
}

#menu1 p {
    margin-top: 2%;
    font-family: cursive, "times new roman", serif, sans-serif;
    font-size: 250px;
}

#menu1 ul {
    list-style-type: none;
}

#menu1 a {
    font-size: 18px;
    color: #333;
    font-family: cursive, sans-serif, "times new roman";
}

#menu1 .dropdown-menu a {
    color: #333;
    font-family: "times new roman", serif, cursive;
}

#menu2 p {
    margin-top: 2%;
    font-family: cursive, "times new roman", serif, sans-serif;
    font-size: 250px;
}

#menu2 ul {
    list-style-type: none;
}

#menu2 a {
    font-size: 18px;
    color: #333;
    font-family: cursive, sans-serif, "times new roman";

}

#menu2 .dropdown-menu a {
    color: #333;
    font-family: "times new roman", serif, cursive;
}

