body {
    margin: 0 auto;
    padding: 20px 20px;
}

header {
    /*  REQUIRED  */
    background-color: #deb887;
    background-image: url("flywheel.jpg");
    padding: 3px;
    /*  END REQUIRED  */
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
}

nav a {
    /*  REQUIRED  */
    display: inline-block;
    margin: 5px;
    border-radius: 5%;
    text-decoration: none;
    padding: 12px;
    /*  END REQUIRED  */    
    background-color: #ffffff;
    color: #000000;
    opacity: 0.5;
    width: 150px;
    height: 25px;
    font-size: 125%;
}

nav a.active {
    opacity: 1.0;
}

aside {
    display: inline-block;
    height: 800px; /*  NOT REQUIRED  */
}

.left {
    width: 20%;
    background-color: #f7ff93;
}

.right {    
    float: right;
    width: 79.5%;
}

.left img {
    display: block;
    margin: 10% auto;
    width: 75%;
    border: solid #000000 3px;
    
}